@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* NAV BAR COMPONENT */
.nav-bar {
  width: 100%;
  height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar h1 {
  font-size: 40px;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  margin-top: 10px;
  font-size: 45px;
  color: rgba(76, 78, 76, 0.6);
}

.nav-bag .bag-quantity {
  color: white;
}

.slider img {
  height: 600px;
  object-fit: cover;
  margin-top: 60px;
}

/* HOME COMPONENT */

.home-container h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding: 2rem 4rem;
}

.product {
  width: 250px;
  max-width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
  overflow: hidden;
}

.product .image {
  width: 250px;
  height: 200px;
  display: flex;
  align-items: center;
}

.product img {
  width: 40%;
  margin: 0 auto;
  overflow: hidden;
  box-sizing: border-box;
}

.product h3 {
  font-size: 16px;
  font-weight: 700;
  word-break: break-all;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product .details {
  font-size: 16px;
  color: rgb(84, 84, 84);
  display: -webkit-box;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product .price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.product button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin-top: 1rem;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b70e2;
  color: white;
  letter-spacing: 1px;
}

.product button:hover {
  background-color: green;
}

/* CART COMPONENT */

.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 0.7rem;
}

.cart-product h3 {
  font-weight: 400;
}

.cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-product button:hover {
  color: red;
}

.cart-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-quantity .count {
  padding: 0.7rem 0;
}

.cart-item .cart-total {
  justify-self: right;
  padding-right: 0.5rem;
  font-weight: 700;
}

/* CART SUMMARY */

.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-cart {
  width: 130px;
  max-width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(187, 187, 187);
  cursor: pointer;
  color: gray;
  background: none;
  outline: none;
}

.cart-summary .clear-cart:hover {
  color: black;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .sub-total {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 300;
  margin: 0.5rem 0;
}

.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #4b70e2;
  color: white;
  letter-spacing: 1px;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.continue-shopping a:hover,
.start-shopping a:hover {
  color: green;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FOOTER COMPONENT */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: black;
  color: white;
}

.footer p a {
  color: white;
}

.footer p a:hover {
  color: green;
}
